#section-featured-products.featured-products-cards
	.featured-products-cards__header.fade-in
		h2.featured-products-cards__title.text-3xl.mb-0 Choose Your Ride
		p.featured-products-cards__text From Go Board Titan To Skoot And Kaabo Variations
	.product-card
		img(src="images/scooter1.png", alt="scooter").product-card__img
		ul.product-card__links
			li
				span: i(aria-hidden=true).fas.fa-chevron-circle-right
				span: a(href="#") Go Board Titan 8 Single
			li
				span: i(aria-hidden=true).fas.fa-chevron-circle-right
				span: a(href="#") Go Board Titan 8 Dual
	.product-card
		img(src="images/scooter2.png", alt="scooter").product-card__img
		ul.product-card__links
			li
				span: i(aria-hidden=true).fas.fa-chevron-circle-right
				span: a(href="#") Go Board Titan 10 Dual Motor
			li
				span: i(aria-hidden=true).fas.fa-chevron-circle-right
				span: a(href="#") Go Board Titan 10 Dual Motor (Powered by LG Battery)
			li
				span: i(aria-hidden=true).fas.fa-chevron-circle-right
				span: a(href="#") Go Board Titan 11 Dual Motor
			li
				span: i(aria-hidden=true).fas.fa-chevron-circle-right
				span: a(href="#") Go Board Titan 11 Dual Motor (Powered by LG Battery)
	.product-card
		img(src="images/scooter3.png", alt="scooter").product-card__img
		ul.product-card__links
			li
				span: i(aria-hidden=true).fas.fa-chevron-circle-right
				span: a(href="#") Skoot 10S+ Single Motor
			li
				span: i(aria-hidden=true).fas.fa-chevron-circle-right
				span: a(href="#") Skoot 10S+ Dual Motor
			li
				span: i(aria-hidden=true).fas.fa-chevron-circle-right
				span: a(href="#") KAABO 10S+ Dual Motor
